body{
	font-family: "Helvetica Neue";
}
.logo {
	font-size: 28px;
	font-weight: 120;
	line-height: 29.7px;
	color: #3f733a;
	margin-right: 20px;
}

.navbar-nav{
	margin: 10px;
}
.navbar-expand-sm{
	background: white;	
}

.nav-link{
    color: #363636;
	font-size: 18px;
	margin-left: 20px;
}

img {
  display: inline;
  width: 100%;
  height: auto;
}


.header{
	font-family: "Helvetica Neue";
	color: #FFFFFF;
	font-weight: 150;
	font-size:50px;
	width: 100%;
	padding-left:0px;
	padding-right:0px;
	background-image:url(../imgs/headerbg.jpg);

			 
}

.card-title{
	font-weight: bold;
}
.searchImages{
	margin-right: 30px;
	width: 100%;
}

.fadein img{
opacity:0.7;
transition: 1s ease;
}

.fadein img:hover{
opacity:1;
transition: 1s ease;
}

.news{
	color: white;
	font-family: "Helvetica Neue";
	align-content: center;
	
}

.btn{
	background-color: #ff7300;
	font-family: "Helvetica Neue";
	color: white;
}

.btn-success{
	background-color: #3f733a;
	border-color: #3f733a;
}
.m-4{
	margin: 0px;
}

.h4.header.lead{
	width: 100%;
}


.page-footer{
	background: #D8D8D8; 
}

.modSubj{
    margin: 8px;
}

/* Quiz Styles */

#questionForm{
	display: flex;
	flex-wrap: wrap;
}
.questionContainer {
   	width: 600px;
	height: auto;
    margin: 0px;
    padding: 15px;
    
}