img {
    display: inline;
    width: 100%;
    height: auto;
  }
  
  
  .fadein img{
  opacity:0.5;
  transition: 1s ease;
  }
  
  .fadein img:hover{
  opacity:1;
  transition: 1s ease;
  }
  
  .page-footer{
      background:#f5f5f5; 
  }